.badge_front{
 background-image: url('/badge_maker/static/img/idfront.png');
 background-size: cover;
 background-position: center;
}

.badge_back{
 background-image: url('/badge_maker/static/img/idback.png');
 background-size: cover;
 background-position: center;
}
