@font-face {
    font-family: 'NotoSansEthiopic';
    src: url('/badge_maker/static/src/fonts/NotoSansEthiopic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.amharic-text {
    font-family: 'NotoSansEthiopic', sans-serif !important;
}